<h3>
    送信しますか？
</h3>

<table class="table table-hover">
  <tr>
  <th class="cal-lg-1">名前</th><th class="cal-lg-3">image</th><th class="cal-lg-5">内容</th>
  </tr>
  <tr>
  <td class="cal-lg-1"><%= current_user.nickname %></td><td class="cal-lg-3"><%= @vlog.image %></td><td class="cal-lg-5"><%= @vlog.text %></td>
  </tr>
</table>

<%= render :partial => "footer" %>
