// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.container {
    background: linear-gradient(to bottom right, #FFF, #FFC778);
}

.name {
    margin-top: 100px;
}
.well {
    width: 100%;
}

.col-lg-2 {
    text-align: left;
}

ul.nav.navbar-nav.navbar-right {
    padding-top: 15px;
    padding-right: 15px;
   
}
nav.navbar.navbar-default.navbar-fixed-top {
    -webkit-box-shadow: none;
    border-width: 0 0 0 0;
    background: white;
    
}
.container-color {
    background: linear-gradient(to bottom left, #FFF, #FFC778);
}
